@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --font-sans:
    var(--font-rubik), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-kicks-blue: #4a69e2;
  --color-kicks-accent: #ffa52f;
  --color-kicks-black: #232321;
  --color-kicks-white: #ffffff;
  --color-kicks-gray-100: #f6f6f6;
  --color-kicks-gray-200: #e7e7e3;
  --color-kicks-gray-300: #c4c4c4;
  --color-kicks-gray-500: #70706e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
