@import "tailwindcss";

@theme {
  --color-background: #e7e7e3;
  --color-foreground: #232321;

  --font-rubik: var(--font-rubik);
  --font-open-sans: var(--font-open-sans);
  --font-inter: var(--font-inter);

  --color-kicks-blue: #4a69e2;
  --color-kicks-accent: #ffa52f;
  --color-kicks-black: #232321;
  --color-kicks-white: #ffffff;
  --color-kicks-off-white: #fafafa;
  --color-kicks-gray-100: #f6f6f6;
  --color-kicks-gray-200: #e7e7e3;
  --color-kicks-gray-300: #c4c4c4;
  --color-kicks-gray-500: #70706e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #e7e7e3;
  color: #232321;
  font-family: var(--font-open-sans), sans-serif;
}
